<div class="col-6 col-md-4 mb-3">
    <div class="card h-100">
        <div class="card-body text-center">
            <strong>{{ mon.ten_hang }}</strong>
            <br>
            {{ "{:,.0f}".format(mon.gia_ban) }} đ
            <br><br>
            <button type="button"
                    class="btn btn-primary js-sua-mon"
                    data-url="/cashier/them-mon/{{ hoa_don.id }}/{{ mon.id }}?tab={{ tab|default('mon-an') }}&ajax=1">
                Chọn
            </button>
        </div>
    </div>
</div>
