{% extends "layout_cashier.html" %}

{% block content %}

<h2>Chọn bàn</h2>

{% for khu_vuc in ds_khu_vuc %}

<div class="card mb-4">

    <div class="card-header bg-primary text-white">

        {{ khu_vuc.ten_khu_vuc }}

    </div>

    <div class="card-body">

        <div class="row">

            {% for ban in khu_vuc.ban %}

            <div class="col-md-2 mb-3">

                <a href="/cashier/chon-ban/{{ ban.id }}"
                   class="btn w-100

                   {% if ban.trang_thai == 'TRONG' %}
                       btn-success
                   {% else %}
                       btn-danger
                   {% endif %}">

                    <strong>

                        {{ ban.ten_ban }}

                    </strong>

                    <br>

                    {{ ban.trang_thai }}

                </a>

            </div>

            {% endfor %}

        </div>

    </div>

</div>

{% endfor %}

{% endblock %}