<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
            Thu ngân
        {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid">

        <span class="navbar-brand">

            eMenu - Thu ngân

        </span>

        <div class="text-white">

            Xin chào

            <strong>

                {{ session['ho_ten'] }}

            </strong>

            {% if session.get('vai_tro') in ['ADMIN', 'QUAN_LY'] %}

            <a href="/dashboard"
               class="btn btn-outline-light btn-sm ms-3">

                Về trang quản lý

            </a>

            {% endif %}

            <a href="/logout"
               class="btn btn-danger btn-sm ms-2">

                Đăng xuất

            </a>

        </div>

    </div>

</nav>

<div class="container-fluid mt-3">

    {% block content %}
    {% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
