{% extends "layout.html" %}

{% block content %}

<h2>Thêm khách hàng</h2>

<form method="POST">

    <div class="mb-3">

        <label>Mã khách hàng</label>

        <input type="text"
               name="ma_khach_hang"
               class="form-control"
               required>

    </div>

    <div class="mb-3">

        <label>Tên khách hàng</label>

        <input type="text"
               name="ten_khach_hang"
               class="form-control"
               required>

    </div>

    <div class="mb-3">

        <label>Điện thoại</label>

        <input type="text"
               name="dien_thoai"
               class="form-control">

    </div>

    <button class="btn btn-success">

        Lưu

    </button>

    <a href="/khach-hang"
       class="btn btn-secondary">

        Quay lại

    </a>

</form>

{% endblock %}
