{% extends "layout.html" %}

{% block content %}

<h2>Thêm khu vực</h2>

<form method="POST">

    <div class="mb-3">

        <label>Tên khu vực</label>

        <input type="text"
               name="ten_khu_vuc"
               class="form-control"
               required>

    </div>

    <div class="mb-3">

        <label>Số thứ tự</label>

        <input type="number"
               name="so_thu_tu"
               class="form-control">

    </div>

    <div class="mb-3">

        <label>Ghi chú</label>

        <textarea name="ghi_chu"
                  class="form-control">
        </textarea>

    </div>

    <button class="btn btn-success">

        Lưu

    </button>

</form>

{% endblock %}